ODOO_URL=https://repuestosespana.odoo.com
ODOO_DB=repuestosespana
ODOO_USER=tu@email.com
ODOO_APIKEY=tu_api_key_aqui
PRINTER_NAME=EPSON TM-T20II TOTEM
POLL_INTERVAL_SECS=8
REPORT_ACTION=stock.report_deliveryslip80
LOG_LEVEL=INFO
