ODOO_URL=https://repuestosespana.odoo.com
ODOO_DB=repuestosespana
ODOO_USER=tu@email.com
ODOO_PASSWORD=tu_contraseña_aqui
POLL_INTERVAL_SECS=8
LOG_LEVEL=INFO

# Impresoras (separadas por coma, nombres tal como aparecen en Windows)
PRINTER_NAMES=POS-80-246,POS-80-247,POS-80-248

# Reportes
REPORT_PRESUPUESTO=studio_customization.studio_report_docume_b45c5d74-d0f6-45ee-9dd7-b5020d9fc920
REPORT_ALBARAN=stock.report_deliveryslip80
